<%# <%= link_to "/home", class: "linking" do %>
  <%# <div class="banner"> %>
    <%# <div class="container"> %>
      <%# <h1>NBA Digital Album</h1> %>
      <%# <p></p> %>


    <div class="slider">

        <figure>
          <div class="slide-container">
              <%= image_tag image_url("landing1.jpg"), :class => "slide1" %>
           </div>
           <div class="slide-container">
              <%= image_tag image_url("landing2.jpg"), :class => "slide1" %>
           </div>
           <div class="slide-container">
              <%= image_tag "landing3.jpg", :class => "slide1" %>
           </div>
            <div class="slide-container">
              <%= image_tag "landing4.jpg", :class => "slide1" %>
            </div>
           <div class="slide-container">
            <%= image_tag "landing5.jpg", :class => "slide1" %>
           </div>
        </figure>

        <div class="text">
     <h1>Welcome to NBA Digital Albums ...</h1>
     <h2>A place to store your digital NBA collections</h2>
    <button class="custom-btn btn-1"><%=link_to "Click to view your Albums!", albums_path%></button>
     </div>
    </div>
</div>
    </div>
  <%# </div> %>
<%# <% end %>
