<%# <%= link_to "/home", class: "linking" do %>
  <%# <div class="banner"> %>
    <%# <div class="container"> %>
      <%# <h1>NBA Digital Album</h1> %>
      <%# <p></p> %>

     <div class="slider">
        <figure>
           <div class="slide-container">
              <p class="slidetext">Slide 1</p>
              <%=  image_tag image_url("landing1.jpg"), :class => "slide1"%>
           </div>
           <div class="slide-container">
              <p class="slidetext">Slide 2</p>
              <%= image_tag image_url("landing2.jpg"), :class => "slide1" %>
           </div>
           <div class="slide-container">
              <p class="slidetext">Slide 3</p>
              <%= image_tag "landing3.jpg", :class => "slide1" %>
           </div>
            <div class="slide-container">
               <p class="slidetext">Slide 4</p>
              <%= image_tag "landing4.jpg", :class => "slide1" %>
            </div>
           <div class="slide-container">
            <p class="slidetext">Slide 5</p>
            <%= image_tag "landing5.jpg", :class => "slide1" %>
           </div>
        </figure>
      </div>
</div>
    </div>
  <%# </div> %>
<%# <% end %>
