<%= link_to "/home", class: "linking" do %>
  <%# <div class="banner"> %>
    <div class="container">
      <h1>NBA Digital Album</h1>
      <p></p>

      <div class="slider">
        <figure>
           <div>
            <%= image_tag "landing1.jpeg", :class => "slide1" %>
           </div>
           <div>
            <%= image_tag "landing2.jpeg", :class => "slide2" %>
            </div>
            <div>
            <%= image_tag "landing3.jpeg", :class => "slide3" %>
           </div>
           <div>
            <%= image_tag "landing4.jpeg", :class => "slide4" %>
           </div>
           <div>
            <%= image_tag "landing5.jpeg", :class => "slide5" %>
           </div>
          </figure>
      </div>
    </div>
  <%# </div> %>
<% end %>
