<div id="albums-background">
  <%# <%=  image_tag image_url("basketball_gym_bw.jpeg") %>
  <%# <%=  image_tag image_url("basketball_gym_bw.jpeg") %>

  <div class="text-center text-white albums-header">
    <h2>My Albums</h2>
  </div>

  <% covers = ['panini_1718.png', 'panini_1819.png', 'panini_1920.png', 'panini_2021.png', 'panini_2122.png'] %>
  <%# <% number_of_albums = Album.count.where(user_id: current_user.id) %>
  <% number_of_albums = current_user.albums.count %>
  <% seasons = [] %>
  <% current_user.albums.each { |album| seasons << album.season } %>
  <% seasons_sorted = seasons.sort %>
  <% season_years = [] %>
  <% seasons.count.times { |idx| season_years << seasons_sorted[idx].gsub(/[a-zA-Z\/. ]/, '')[2..3] } %>
  <% cover_years = [] %>
  <% covers.count.times { |idx| cover_years << covers[idx].gsub(/[a-zA-Z\/._]/, '')[2..3] } %>
  <% images = [] %>
  <% covers.count.times { |idx| season_years.include?(cover_years[idx]) ? images << covers[idx] : images << "" } %>
  <% images.reject! { |n| n == "" } %>

  <% album_ids = {} %>
  <% current_user.albums.each { |album| album_ids[album.season] = album.id } %>
  <% album_ids_sorted = album_ids.sort %>

  <%# <% number_of_albums = 0 %>
  <% if number_of_albums > 0 %>
    <div class="album-container">
      <% if number_of_albums == 1 %>
        <% iterations = 1 %>
        <div class="albums-grid-one">
      <% elsif number_of_albums == 2 %>
        <% iterations = 2 %>
        <div class="albums-grid-two">
      <% elsif number_of_albums >= 3 %>
        <% iterations = 3 %>
        <div class="albums-grid-three">
      <% end %>
        <% iterations.times do |idx| %>
          <%= link_to albums_path(album_ids_sorted[idx][1]).gsub(/[.]/, '/'), class: "album-link" do %>
            <%= image_tag images[idx], class: "album-image" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if number_of_albums > 3 %>
      <div class="album-container">
        <% if number_of_albums == 4 %>
          <% iterations = 1 %>
          <div class="albums-grid-one">
        <% elsif number_of_albums == 5 %>
          <% iterations = 2 %>
          <div class="albums-grid-two">
        <% end %>
          <% iterations.times do |idx| %>
            <%= link_to "/viewing-album", class: "album-link" do %>
              <%= image_tag images[idx + 3], class: "album-image" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-album-container">
      <div class="text-center text-white no-albums-header">
        <h3>No Albums yet - Get Started!</h3>
      </div>

      <%# Dropdown menu %>
      <div class="dropdown">
        <button class="no-albums-button dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Select a Season
        </button>
        <ul class="dropdown-menu no-albums-dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="albums/new">21/22</a></li>
          <li><a class="dropdown-item" href="#">20/21</a></li>
          <li><a class="dropdown-item" href="#">19/20</a></li>
        </ul>
      </div>

    </div>
  <% end %>

</div>
