<%# styling is in app/assets/stylesheets/pages/_viewing_album.scss %>

<div id="viewing-album-background">

  <div class="text-end viewing-album-season">
    <h3><%= @album.season %></h3>
  </div>
  <div class="text-center viewing-album-team">
    <h2><%= @team %></h2>

  </div>

  <div class="album-cards-container">
    <div class="album-cards">
      <%  @cards.each do |player| %>
        <div class="card">
        <%# Maybe add a default image if the scrapping of player.image doesnt work %>
          <% if player.album_cards.first.counter == 0 %>
            <div class="card-image-hidden" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('<%= player.image %>'); border: 2px solid <%= @color %>;">
            </div>
          <% else %>
            <div class="card-image-shown" style="background-image: url('<%= player.image %>'); border: 2px solid <%= @color %>;">
            </div>
          <% end %>
          <div class="card-basic-info">
            <div>
              <h2><%= player.name %></h2>
              <p style="color: <%= @color %>;" ><%= player.position %></p>
            </div>
            <% if player.album_cards.first.counter > 1 %>
              <h3 class="card-count" style="background-color: <%= @color %>;"><%= player.album_cards.first.counter %></h3>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center viewing-album-to-quiz-button">
    <%= link_to "Add Stickers", "/quizzes/#{rand(1..3)}", style: "background-color: #{@color} " %>
  </div>

  <div>
    <% if @prev_index.present? %>
      <%= link_to album_path(@album, index: @prev_index.to_s) do %>
        <div class= "arrow-left", style="border-right: 32px solid <%= @color %>;"></div>
      <% end %>
    <% end %>
    <% if @next_index.present? %>
      <%= link_to album_path(@album, index: @next_index.to_s) do %>
        <div class= "arrow-right", style="border-left: 32px solid <%= @color %>;"></div>
      <% end %>
    <% end %>
  </div>
</div>
