<div id="pack-background">

  <div class="text-center pack-season">
    <h2><%= @alb.season %></h2>
  </div>

  <div class="pack-container">
    <div class="pack-cards">
      <% @all_cards.sample(5).each do |player| %>
      <%# Album.first.cards.first(6).sample(5).each do |player| %>
        <div class="card">
        <%# need to change the if statement (below) to switch from "pack-hidden" to "pack-shown" click of a 'reveal' button - use JS event listner to toggle between classes %>
          <%# if player.counter == 0 %>
            <!-- <div class="pack-hidden">
            </div> -->
          <%# else %>
            <div class="pack-shown">
            </div>
          <%# end %>
          <div class="card-basic-info">
            <div>
              <h2><%= player.name %></h2>
              <p class="pack-info"><%= player.position %></p>
            </div>
          </div>
        </div>
        <%# this should probably be moved to a method in the cards controller %>
        <% player.album_cards.first.update(counter: player.album_cards.first.counter + 1) %>
      <% end %>
    </div>
  </div>

  <div class="pack-more-button">
    <%= link_to "Add Stickers", "/quizzes/#{rand(1..3)}" %>
  </div>

  <div class="viewing-album-button">
    <%= link_to "Confirm", "/albums/1", class: "pack-more" %>
  </div>
</div>
