<div id="pack-background">

  <div class="text-center pack-season">
    <h2><%= @prev_season %>/<%= @season_short %> Season</h2>
  </div>

  <div class="pack-container">
    <div class="pack-cards">
      <% @random_cards.each do |player| %>

        <div class="card">
            <div id="switcher">
              <img src="https://1000logos.net/wp-content/uploads/2017/04/Logo-NBA-1024x640.png" class="top">
              <img src="<%= player.image %>" alt="" class="bottom">
            </div>

          <div class="card-basic-info">
            <div>
              <h2><%= player.name %></h2>
              <p class="pack-info"><%= player.position %></p>
            </div>
          </div>

        </div>
        <% player.album_cards.first.update(counter: player.album_cards.first.counter + 1) %>
      <% end %>
    </div>
  </div>

  <div class="pack-more-button">
    <%= link_to "Open Another Pack", "/albums/#{@album.id}/quizzes/#{rand(@quiz_first..@quiz_last)}" %>
  </div>

  <div class="pack-to-viewing-album-button">
    <%= link_to "See Album", album_path(@album), class: "pack-more" %>
  </div>

</div>
