<!DOCTYPE html>
<html>
  <head>
    <title>NBA Digital Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column min-vh-100">

    <%# Navbar ---------------------------------------------------------------------------------------------------------------------- %>
    <div id='wrapper'>
      <div class='nav-container'>
        <div>
          <%= image_tag "basketball_player_silhouette_white.png" %>
          <%# <p style="color: white">Hello</p> %>
        </div>
        <div>
          <h1><span style="font-weight: bold; color: rgb(29, 66, 138)">NBA</span> <span style="color: rgb(200, 16, 46)">Digital Album</span></h1>
        </div>
        <div>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "basketball_player_silhouette_white.png" %>
          <% end %>
          <%# <p style="color: white">Hello</p> %>
        </div>
      </div>
    </div>
    <%# Navbar ---------------------------------------------------------------------------------------------------------------------- %>


    <%# <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
